<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="static/css/bootstrap.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="static/css/main.css">
        <script src="static/js/vendor/bootstrap.min.js"></script>
        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand brand" href="#">OWLengine</a>
            </div>
          </div>
        </nav>
        <div class="container" style="padding:0;">
            <form method="POST" id="sg-form" class="col-md-6 form-group" action="{{ url_for('index') }}">
                <div class="col menubar" style="height: 40px;">
                    <div class="btn-group">
                        <button class="btn btn-sm btn-success"><input type="submit" name="sgform" class="hidden">Browse</button>
                    </div>
                </div>
                {% for view_input in sgform.cluster_view %}
                <div class="col-md-6 list-group-item" style="height: 140px; padding:0;">
                    <div class="cluster-rep" style="height:100px;">
                        {{ cluster_reps[loop.index0][0] }} - {{ cluster_reps[loop.index0][1] }} - {{ cluster_reps[loop.index0][2] }} </br>
                    </div>
                    <div class="col-md-6 bottom-align-text">
                        {{cluster_doc_counts[loop.index0]}} entries
                    </div>
                    <div class="btn-group pull-right" data-toggle="buttons" style="height: 40px;">
                        <label class="btn btn-default select-button" style="height:100%; text-align: center">{{ select_list[loop.index0] }}Select</label>
                        <label class="btn btn-default view-button" style="height:100%;">{{ view_input }}View</label>
                    </div>
                </div>
                {% endfor %}
            </form>
            <div class="col-md-6">
                <form method="POST" id="search-form" class="row menubar" style="height: 40px;">
                    <input class="col-md-11" type="text" placeholder="Search in cluster"/>
                    <label class="btn btn-sm btn-success pull-right glyphicon glyphicon-search"></label>
                </form>
                {% if titles is defined %}
                {% for i in range(16) %}
                <div class="row" style="background-color: #bbb;height: 50px;">
                    <a href="https://el.wikipedia.org/wiki/{{ links[i] }}" class="list-group-item list-group-item-action flex-column align-items-start" style="height: 50px;">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ titles[i] }}</h5>
                    </div>
                    </a>
               </div>
                {% endfor %}
                <form role="form", id="page-form" method="POST">
                    <ul class="pagination pagination-sm justify-content-center">
                        {% if pagination.current_page > 5 %}
                        <li class="prev-page-button"><a href="{{ url_for_page(0) }}">First</a></li>
                        {% endif %}
                        {% if pagination.has_prev() %}
                        <li class="prev-page-button"><a href="{{ url_for_page(pagination.current_page-1) }}">Previous</a></li>
                        {% endif %}
                        {% for i in pagination.iter_pages() %}
                        {% if i == pagination.current_page %}
                        <li class="page-button active"><a href="#">{{ i+1 }}</a></li>
                        {% else %}
                        <li class="page-button"><a href="{{ url_for_page(i) }}">{{ i+1 }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if pagination.has_next() %}
                        <li class="next-page-button"><a href="{{ url_for_page(pagination.current_page+1) }}">Next</a></li>
                        {% endif %}
                        {% if pagination.current_page < pagination.n_pages() - 6 %}
                        <li class="prev-page-button"><a href="{{ url_for_page(pagination.n_pages()-1) }}">Last</a></li>
                        {% endif %}
                    </ul>
                </form>
                {% endif %}
          </div>
        </div> <!-- /container -->

        <hr>

        <footer>
            <p>&copy; Theodoros Vasileiadis 2017</p>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>



        <script src="static/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
